<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Convidados</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	
</head>

<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de convidados</h1>
		</div>
		
		<div class="panel-body">
		
			<form class="form-inline" method="POST" th:action="@{/convidados}" th:object="${convidado}" style="margin: 20px 0">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
					<input type="text" class="form-control" placeholder="Acompanhantes" th:field="*{quantidadeAcompanhantes}"/>
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
			
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Acompanhantes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="convidado: ${convidados}">
						<td th:text="${convidado.nome}"></td>
						<td th:text="${convidado.quantidadeAcompanhantes}"></td>
						<td>
							<a class="glyphicon glyphicon-trash" th:href="@{/convidados/delete/{id}(id=${convidado.id})}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div class="modal-content panel panel-default" hidden="true" id="modalExcluir" style="margin: 50px 300px;">
  		<div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
 			<h4 class="modal-title" id="modalLabel">Excluir Item</h4>
 		</div>
		 	<!-- Implemente a chamada do Ajax -->
		 <div class="modal-body">Deseja realmente excluir este item?
		    	<input id="modal-deletar-cliente-id" type="hidden" name="id"/> 
		 </div>
		
		 <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="deleteCliente">Sim</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
		 </div>
 	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>